@media only screen and (max-width: 434px) {
    .burger-menu{
        height: 22px;
        left: 38px;
        right: 369px;
        top: 13px;

    }

    .todo-pos {
        position: absolute;
        height: 24px;
        left: 38px;
        right: 261px;
        top: 72px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;        
        
    }

    .Container {
        position: absolute;
        left: 35px;
        right: 35px;
        top: 189px;
        bottom: 316px;
        min-height: 85px;
        max-width: none;

    }

    .box {

        /* padding: none; */
        min-height: 85px;
        left: 0px;
        right: 0px;
        top: 0px;
        
        border-radius: 10px;
    }

    .task {
        position: absolute;
        height: 34px;
        left: 13px;
        right: 125px;
        top: 15px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        
    }

    .time {
        position: absolute;
        width: 193.18px;
        height: 17px;
        left: 13px;
        bottom: 16px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    
.pencil {

    position: absolute;
    width: 30px;
    height: 30px;
    right: 45px;
    top: 30px;
    cursor: pointer;


}

.checkmark {

    position: absolute;
    right: 80px;
    top: 29px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;

    position: absolute;

    border: 2px solid #ffffff;
    border-radius: 4px;


}


.add_task {

        
    position: absolute;
    height: 73px;
    left: 38px;
    right: 35px;
    bottom: 11px;    

}

.cont .checkmark:after {

    width: 20px;
    height: 6px;
    left: 3px;
    top: 6px;
    
    border-width: 0px 0px 4px 4px;
    border-style: solid;
    border-color: #ffffff;
    transform: rotate(-45deg);

  }
  

}

@media only screen and (max-height: 592px) {
    .Container {
        position: absolute;
        left: 35px;
        right: 35px;
        top: 119px;
        /* bottom: 386px; */
        min-height: 85px;
    }

    .todo-pos {
        position: absolute;
        height: 24px;
        left: 38px;
        right: 261px;
        top: 72px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }
    .burger-menu {
        height: 22px;
        left: 38px;
        right: 369px;
        top: 13px;

    }
}